**/.DS_Store
nbproject
manifest.mf
build.xml
newrelic_agent.log

.setup/
.project
.settings
.idea/*
.env
.env.local
node_modules/
dist/
venv/
.venv/
__pycache__/

# Database secrets
db/password.txt
db/*.txt
